// Colors
$background: #fcfcfc;
$text: #333;
$text-lighter: lighten($text, 40%);

$highlight-base: #a71d5d;
$highlight: lighten($highlight-base, 50%);
$highlight-light: lighten($highlight-base, 54%);
$highlight-dark: darken($highlight-base, 35%);

$link-color: #000193;
$link-hover-color: lighten($link-color, 25%);

$mono: monospace;

// Main layout, is single column

body {
  border-top: 5px solid $highlight;
  background: $background;
  color: $text;
  font-family: Cochin, Times, serif;
  font-size: 1.3em;
  line-height: 1.55em;
  margin: 0;
  padding: 0;
}

.content {
  margin: 8em auto 0;
  max-width: 33em;
  padding: 2em;
  position: relative;
}

.content.resume {
  margin: 1em auto 0;
  max-width: 35em;
}

article {
  position: relative;
}

// Heading sizes

$article-heading-sizes: "h1" 1.4em, "h2" 1.2em, "h3" 1.12em, "h4" 1em;

@each $heading, $font-size in $article-heading-sizes {
  #{$heading} {
    font-size: $font-size;
    font-weight: 800;
    color: darken($text, 5%);
    font-family: $mono;
    margin: 0;
    padding: $font-size 0 0;

    &+p {
      margin-top: 0;
    }
  }

}

hr {
  border: 0 dotted $highlight;
  border-top-width: 1px;
  height: 0;
}

pre, .mono, code {
  font-family: $mono;
}

.small {
  font-size: 75%;
}

.smaller {
  font-size: 85%;
}

.faded {
  color: $text-lighter;
}

.center {
  text-align: center;
}

a,
.link-like {
  color: $link-color;
  font-weight: bolder;
  text-underline-offset: 6px;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:active {
    color: red;
  }
}

ol,
ul {
  list-style-position: outside;
  margin: 0;
  margin-left: 1.6em;
  padding: 0;

  li {
    margin: 0 0 0.1em 0;
    padding: 0 0 0 0.2em;
  }
}

.outside {
  margin-left: -2em;
}

ul,
ol {
  &.outside {
    margin-left: -0.1em;
  }
}

code {
  background: lighten($highlight-light, 5%);
  border-bottom: 1px dotted $highlight;
  padding: 0.3em;
  font-size: 0.85em;
}

pre,
blockquote {
  background: white;
  line-height: 1.45em;
  margin-left: -2em;
  margin-right: -2em;
}

pre {
  font-size: 0.85em;
  border-bottom: 1px dotted $highlight;
  padding: 1em 2em;
  overflow-x: scroll;

  code {
    background: inherit;
    border-bottom: 0;
    padding: 0;
    font-size: inherit;
  }
}

blockquote {
  font-size: 0.9em;
  font-style: italic;
  padding: 0.5em 2em;
  border-left: 1px dotted $highlight;
}

.tag {
  margin-right: 0.3em;
  border-radius: 10px;
  color: $text;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.toc {
  margin: 0.2em -2em 0;
  padding: 2em;
  font-size: 0.7em;
  line-height: 1.45;
  border-bottom: 1px dotted $highlight;

  a {
    color: $text;
    font-weight: normal;
  }

  ul {
    list-style: none;
    margin-left: 0em;

    ul {
      margin-left: 1em;
    }

  }

}

.anchor-link {
  position: absolute;
  margin-left: -0.9em;
  text-decoration: none;
  font-weight: normal;
}


article .img-container {
  margin: 0.2em -2em 0;
  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 1.15em;
  }

  .content {
    padding: 1.8em;
  }

  .smaller {
    font-size: 90%;
  }

  .small {
    font-size: 83%;
  }

  .outside {
    margin-left: inherit;
  }

  article .img-container {
    margin: 0.2em -1em 0;
  }
}

dl {
  margin: 1.5em 0;

  dt {
    clear: left;
    float: left;
    text-decoration: underline;
    text-align: right;
    width: 5.5em;
    &::after {
      content: ":";
    }
  }

  dd {
    display: block;
    float: left;
  }
}

.clear {
  clear: both;
}

.invoice-heading {
  padding: 1.5em 0;

  h1 {
    float: left;
    padding: 0;
  }

  .invoice-heading-code {
    float: right;
    font-weight: bold;
  }
}

table {
  padding-top: 1.5em;
  width: 100%;

  th,
  td {
    text-align: left;
    &.right {
      text-align: right;
    }
  }

  tfoot td {
    font-weight: bold;
  }

  tfoot tr:first-child td {
    border-top: 1px dotted $highlight;
    padding-top: 0.3em;
  }

  tbody tr:last-child td {
    padding-bottom: 0.3em;
  }

  tbody tr:first-child td {
    padding-top: 0.3em;
  }

  thead tr:last-child th {
    padding-bottom: 0.3em;
    border-bottom: 1px dotted #ccc;
  }

}

details {
  font-size: 85%;
  summary {
    font-weight: bold;
    color: darken($link-color, 20%);
    &:hover {
      color: $link-hover-color;
      cursor: pointer;
    }
  }
}

.job {


  margin: 10px 0 10px -20px;
  padding: 0px 20px 40px 40px;
  background: lighten(#fdf4f8, 1%);

  .place {
    margin-left: -20px;
  }

  .position {

    & + .position {
      margin-top: 1em;
    }

    h3 {
      font-size: 93%;
      font-weight: bold;
      padding-top: 0.7em;
      // line-height: 1.2em;
    }

    h4.when {
      font-size: 70%;
      font-weight: normal;
      padding-top: 0;
      line-height: 1.1em;
    }

    .details {
      max-width: 55em;
      margin-top: 1em;
      font-size: 88%;
      line-height: 1.3em;

      li + li {
        margin-top: 10px;
      }
    }


  }

}

