{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="author" content="Stan Rozenraukh" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}stanistan{% endblock title %}</title>
        <link rel="icon" href="data:" />
        {% if config.extra.debug.css %}
            <link rel="stylesheet" type="text/css" href="/style.css" />
        {% else %}
            {% set css = load_data(path="public/style.css") %}
            <style type="text/css">{{ css | safe }}</style>
        {% endif %}
    </head>
    <body>
        <div class="content">
            {% block content %}{% endblock content %}
            {% if config.extra.debug.templates %}
            <pre>{{ __tera_context }}</pre>
            {% endif %}
        </div>
    </body>
</html>
