{% extends "base.html" %}

{% block content %}

    {{ section.content | safe }}

    <p class="mono small faded">## TODO: add content</p>

    {% set writes = get_section(path="writes/_index.md") %}
    {% if writes.pages | length > 0 %}
        <ul class="posts">
            {% for page in writes.pages %}
                <li class="smaller">
                    <a href="{{page.permalink}}">{{page.title}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
