{% extends "base.html" %}

{% block content %}
    {{ section.content | safe }}
    {% if section.pages | length > 0 %}
        <ul class="posts">
            <p class="list-title mono small faded">
                <strong>sometimes i write things...</strong>
            </p>
            {% for page in section.pages %}
                <li class="smaller">
                    <a href="{{page.permalink}}">{{page.title}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="mono small faded">
            TODO: add content
        </p>
    {% endif %}
{% endblock content %}
