{% macro render_toc(toc, level=1, max_level=-1) %}
    {% if level <= max_level or max_level == -1 %}
        {% if toc | length > 0 %}
        <ul class="" data-toc-h-level="{{level}}">
            {% for child in toc %}
            <li>
                <a href="{{child.permalink | safe }}">{{child.title}}</a>
                {{ self::render_toc(toc=child.children, level=level + 1, max_level=max_level) }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
{% endmacro %}
