{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}

{% block content %}
    <a href="/" class="faded mono small" title="stanistan /">go /</a>
    <article>
        <h1>{{ page.title }}</h1>
        <div class="small faded">
            {{ macros::github_link(config=config, page=page) }} |
            <a href="{{ page.permalink | safe }}" class="faded">permalink</a>
            {% if page.date %}
            | Published on {{ page.date | date(format="%B %d, %Y") }}
            {% endif %}
        </div>

        {{ page.description }}

        {% if page.extra.include_toc %}
            <div class="toc">
                {{ macros::render_toc(toc=toc) }}
            </div>
        {% endif %}

        <div>{{ page.content | safe }}</div>

        {% if config.extra.show_tags %}
        <hr />
        <div class="tags">
            {% for tag in page.taxonomies.tags %}
            <a href="#" class="tag small">#{{tag}}</a>
            {% endfor %}
        </div>
        {% endif %}

    </article>
{% endblock content %}
